.Rproj.user
.Rhistory
.RData
.Ruserdata

oecd-mobility.Rmd
output/oecd-workplaces.csv
output/oecd-retail-recreation.csv
plots/economic-mobility-oecd.png

oecd-vaccine.Rmd
plots/vaccive.png

/literature
/data
/results
/logs
/ppt
rep-num-epinow.Rmd

git-script.txt
rep-num-test.Rmd